{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB Database Service Resource Provider REST API",
    "version": "2020-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/services/sqlx": {
      "get": {
        "tags": [
          "SqlxService"
        ],
        "description": "Gets the sqlx service for a Cosmos DB account.",
        "operationId": "Sqlx_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved sqlx service resource.",
            "schema": {
              "$ref": "#/definitions/ServiceGetResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CosmosDBServiceResourceGet": {
            "$ref": "./examples/CosmosDBSqlxGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "SqlxService"
        ],
        "description": "Creates the sqlx service for a Cosmos DB account.",
        "operationId": "Sqlx_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          },
          {
            "name": "createUpdateServiceResourceParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceResourceCreateUpdateParameters"
            },
            "description": "The sqlx service to create for the current database account."
          }
        ],
        "responses": {
          "200": {
            "description": "Creation of sqlx service will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/ServiceGetResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CosmosDBServiceResourceCreate": {
            "$ref": "./examples/CosmosDBSqlxCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SqlxService"
        ],
        "description": "Deletes the sqlx Service for a Cosmos DB account.",
        "operationId": "Sqlx_Delete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "cosmos-db.json#/parameters/accountNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The sqlx delete operation will complete asynchronously."
          },
          "204": {
            "description": "Sqlx service does not exist in the database account."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CosmosDBServiceResourceDelete": {
            "$ref": "./examples/CosmosDBSqlxDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ServiceResourceCreateUpdateParameters": {
      "description": "Parameters to create a Service Resource",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties to create and update an Azure Cosmos DB Service Resource.",
          "$ref": "#/definitions/ServiceResource",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ]
    },
    "ServiceGetResults": {
      "description": "An Azure Cosmos DB ServiceGetResults object.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "The properties of a Service Resource",
          "$ref": "#/definitions/ServiceResource"
        }
      }
    },
    "ServiceResource": {
      "description": "An Azure CosmosDB Service Resource.",
      "type": "object",
      "properties": {
        "serviceType": {
          "description": "Specifies the type of Service.",
          "type": "string",
          "enum": [
            "Sqlx"
          ]
        },
        "status": {
          "description": "Status of the Azure CosmosDB Service Resource.",
          "type": "string"
        },
        "instanceSize": {
          "description": "Size of the CosmosDB Service Resource.",
          "type": "string"
        },
        "instanceCount": {
          "description": "Instance count of the Service Resource.",
          "type": "string"
        },
        "locations": {
          "description": "Map of a location name to Regional Service Resource.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegionalServiceResource"
          }
        }
      }
    },
    "RegionalServiceResource": {
      "description": "Properties of a Regional Service Resource.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The location of Regional Service Resource.",
          "type": "string"
        },
        "status": {
          "description": "The status of the regional service.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "accountNameParameter": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Cosmos DB database account name.",
      "minLength": 3,
      "maxLength": 50,
      "pattern": "^[a-z0-9]+(-[a-z0-9]+)*"
    }
  }
}
